.App {
  text-align: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  min-height: 105vh;
  /* flex */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-header {
  margin-top: 5px;
}
